/* Style updates */
body {
    font-family: 'Arial', sans-serif;
    background-color: #08030d;
    margin: 0;
    padding: 0;
    color: #0a999e;
}
#header {
    background-color: #08030d;
    color: #0a999e;
    text-align: center;
    padding: 20px;
}
#balance {
    font-size: 1.2em;
    margin-top: 10px;
}
/* Container for the games section */
.games-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 20px; /* Space between the games */
    padding: 20px;
}
.game-container {
    background-color: #08030d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Full width inside grid cell */
}
.game-container h3 {
    color: #0a999e;
}
.game-button {
    background-color: #afa84c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.game-button:hover {
    background-color: #45a049;
}
input[type="number"], input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.game-result {
    margin-top: 10px;
    font-size: 1.2em;
    color: #0a999e;
}
.leaderboard-container {
    text-align: center;
}
.leaderboard-container a {
    font-size: 1.2em;
    color: #0a999e;
    text-decoration: none;
}
.leaderboard-container a:hover {
    text-decoration: underline;
}
/* Blackjack Game Styles */
#blackjack-game {
    background-color: #08030d;
    color: #0a999e;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}
#blackjack-result {
    font-size: 1.5em;
    margin-top: 20px;
}
/* Betting Container Styling */
.betting-container {
    background-color: #08030d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* Memory Card Game Styling */
.memory-card {
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #08030d;
    color: #0a999e;
    font-size: 2em;
    text-align: center;
    line-height: 80px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}
.memory-card:hover {
    background-color: #08030d;
    color: #0a999;
}
#memory-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    color: #0a999;
}
