body {
    font-family: 'Arial', sans-serif;
    background-color: #08030d;
    margin: 0;
    padding: 0;
    color: #0a999e;
}
#header {
    background-color: #08030d;
    color: #0a999e;
    text-align: center;
    padding: 20px;
}
#balance {
    font-size: 1.2em;
    margin-top: 10px;
}
.games-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}
.game-container {
    background-color: #08030d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.game-container h3 {
    color: #0a999e;
}
.game-button {
    background-color: #afa84c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
.game-button:hover {
    background-color: #45a049;
}
input[type="number"], input[type="text"] {
    padding: 10px;
    width: 50%;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.game-result {
    margin-top: 10px;
    font-size: 1.2em;
    color: #0a999e;
}
.leaderboard-container {
    text-align: center;
}
}
.leaderboard-container a {
    font-size: 1.2em;
    color: #0a999e;
    text-decoration: none;
}
.leaderboard-container a:hover {
    text-decoration: underline;
}
#blackjack-game {
    background-color: #08030d;
    color: #0a999e;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}
#blackjack-result {
    font-size: 1.5em;
    margin-top: 20px;
}
.betting-container {
    background-color: #08030d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.sell {
    background-color: #f44336; 
}
.stock-result {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}
.slot-machine-display {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.slot-reel {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.poker-hand {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
    .poker-card {
    width: 50px;
    height: 75px;
    border: 1px solid #333;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
