body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #08030d;
    height: 100vh;
    overflow: auto; 
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    align-items: flex-start;
}

#top-right-links {
    position: fixed;
    top: 20px;  
    right: 20px;  
    font-size: 16px;
}

#top-right-links a {
    display: block;
    color: #007bff; 
    text-decoration: none;
    margin-bottom: 10px; 
    font-size: 16px;
}

#top-right-links a:hover {
    text-decoration: underline; 
}

#chatroom-title {
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
    color: #0a999e;
}

#chatroom-title img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

#chat {
    width: 100%;  
    height: calc(100% - 140px); 
    overflow-y: auto; 
    margin-top: 20px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

#messages {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #0a999e;
}

#messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background: #e9ecef;
    font-size: 18px;
    word-wrap: break-word; 
    white-space: pre-wrap; 
    overflow-wrap: break-word; 
    max-width: 100%; 
    display: block; 
}

#messages li {
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

#chat-form {
    position: fixed;
    bottom: 20px; 
    left: 20px; 
    right: 20px; 
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
    border-radius: 8px;
}

#chat-form input[type="text"] {
    flex: 1; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

#chat-form input[type="text"]:focus {
    border-color: #007bff; 
}

#chat-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat-form button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    #chat-form {
        flex-direction: column;
    }

    #chat-form input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    #chat-form button {
        width: 100%;
    }
}
