<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>blog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body>

<div class="header">
  <h2>Welcome to My Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>rules</h2>
      <h5>Posted on: December 1, 2024 | upated on: December 8, 2024</h5>
	  <a href="{{ url_for('rules') }}">Rules</a>

    </div>
    <div class="card">
      <h2>v1.05</h2>
      <h5>Posted on: December 8, 2024 | upated on: December 16, 2024</h5>
            <p>added v1.04 page</p>
            <p>moved the rules page to the blog</p>
            <p>added a beta feature page</p>
            <p>new beta feature video</p>
            <p>added Slots machine</p>
            <p>added poker</p>
            <p>fixed the footer on the game page</p>
            <p>redid some code</p>
            <p>added music page</p>
            <p>added a other music page</p>
            <p>added a bsky social links</p>
            <p>added every update to the bsky social account</p>
	 </div>

	<div class="card">
      <h2>music</h2>
      <h5>Posted on: December 16, 2024</h5>
            <p>my music hours (all data was from apple music)</p>
            <p><a href="{{ url_for('music_2024') }}">music 2024 hours</a></p>
            <p><a href="{{ url_for('music_2024vs2023') }}">music 2024 vs 2023 hours</a></p>

	 </div>

	<div class="card">
      <h2>beta feature</h2>
      <h5>Posted on: December 8, 2024</h5>
            <p>all beta features that might come to the main website</p>
            <p><a href="{{ url_for('video_beta') }}">video beta feature</a></p>

	 </div>
	<div class="card">
      <h2>going forward</h2>
      <h5>Posted on: December 7, 2024</h5>
            <p>At hutcch's Virtual Network, your privacy is our priority. So we are being forward about what we want to do, we want more Moderation features but to ban people we are only banning they name so it means they can make a different account, so we want to add an IP ban, but that means we look at your privacy so we are thinking of a different way to do it.</p>
            <p><a href="{{ url_for('going_forward') }}">see all going forward</a></p>

     </div>
    <div class="card">
      <h2>Privacy Policy</h2>
      <h5>Posted on: December 2, 2024</h5>
            <p>At hutcch's Virtual Network, your privacy is our priority. That's why we don’t use cookies to track your activities, and we don't require email addresses for login. We believe in keeping things simple and secure, without compromising your personal information.</p>
            <p><a href="{{ url_for('FAQ') }}">see all FAQ</a></p>

    </div>
    <div class="card">
      <h2>v1.04</h2>
      <h5>Posted on: December 8, 2024</h5>
            <p><a href="{{ url_for('v104') }}">go to see all v1.04</a></p>


    </div>
    <div class="card">
      <h2>past updates</h2>
      <h5>v1.02 | Posted on: november  21, 2024</h5>
            <p><a href="{{ url_for('v102') }}">go to see all v1.02</a></p>
            <h5>v1.03 | Posted on: December 8, 2024</h5>
            <p><a href="{{ url_for('v103') }}">go to see all v1.03</a></p>
    </div>
    <div class="card">
      <h2>Planned Updates</h2>
      <h5>Posted on: november 21, 2024</h5>
            <p><a href="{{ url_for('Planned_Updates') }}">go to see all Planned Updates</a></p>

    </div>
    <div class="card">
      <h2>bugs fixed</h2>
      <h5>Posted on: December 21, 2024</h5>
            <p>Fix code: Information exposure through an exception</p>
            <p><a href="{{ url_for('bugs_fixed') }}">go to see all bugs fixes</a></p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>links</h2>
        <a href="{{ url_for('index_page') }}">Chatroom</a></p>
        <a href="{{ url_for('games') }}">games</a></p>
    </div>
    <div class="card">
      <h3>Where to find us</h3>
 		<p>we have this chatroom, x(twitter) and my other website
           <ul>
               <li><a href="https://hutcch.eu.pythonanywhere.com/">the chatroom</a></li>
               <li><a href="https://x.com/chatroombyHVN">x(twitter)</a></li>
               <li><a href="https://bsky.app/profile/hutcch.bsky.social">bsky.social</a></li>
               <li><a href="https://hutcch.neocities.org/">my other website</a></li>
           </ul>
    </div>
    <div class="card">
      <h3>Contact</h3>
      <p>If you have any questions or feedback, feel free to contact us at <a href="8hqz5hgfb@mozmail.com">8hqz5hgfb@mozmail.com</a> also the files are on github <a href="https://github.com/hutcch0/chatroom-website/tree/main">website</a></p>
    </div>
  </div>
</div>

<div class="footer">
  <h2><p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p></h2>
</div>

</body>
</html>
