<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FAQ</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body>

<div class="header">
  <h2>FAQ</h2>
</div>

	<div class="card">
      <h2>FAQ</h2>
      <h5>Posted on: December 2, 2024</h5>
      <p>What is this platform?</p>
      <p>its a chatroom with games, rules, blog so on</p>
      <p>What is Fake Money?</p>
      <p>its something you can win by playing games, it doesnt do anything right now but maybe later it will</p>
      <p>Can I exchange my fake money for real money?</p>
      <p>no its called fake money its means nothing</p>
      <p>What happens if I run out of fake money?</p>
      <p>then just play spin the wheel its always there but has a cooldown</p>
      <p>Why is the page loading slowly?</p>
      <p>most likely on are end, just bare with us</p>
      <p>Can I play these games on mobile devices?</p>
      <p>i have not tested it yet, do not count on it</p>
      <p>What should I do if I lose my account or can't log in?</p>
      <p>nothing yet, sorry we will have a system in place to fix it</p>
      <p>Is my account information safe?</p>
      <p>yes, your account information is safe</p>
      <p>Can I delete my account?</p>
      <p>not yet, we can detele your account for you</p>
      <p>Can other players see my fake money balance?</p>
      <p>yes either on the leaderboard or go to the profile page and search for there name</p>
      <p>Do you share my personal information with third parties?</p>
      <p>no, we will never share your information</p>
      <p>How can I interact with other players?</p>
      <p>you can chat in the chatroom with everyone and we will have dm soon</p>
      <p>Can I suggest new games or features?</p>
      <p>yes go to the chatroom click on the menu and go to the page yo suggest new things</p>
      <p>Are there any age restrictions for using the platform?</p>
      <p>yes for now</p>
      <p>Do I need to download anything to play?</p>
      <p>no you will never have to download anything</p>

    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>links</h2>
        <a href="{{ url_for('index_page') }}">Chatroom</a></p>
        <a href="{{ url_for('rules') }}">Rules</a>
    </div>
    <div class="card">
      <h3>Where to find us</h3>
 		<p>we have this chatroom, x(twitter) and my other website
           <ul>
               <li><a href="https://hutcch.eu.pythonanywhere.com/">the chatroom</a></li>
               <li><a href="https://x.com/chatroombyHVN">x(twitter)</a></li>
               <li><a href="https://bsky.app/profile/hutcch.bsky.social">bsky.social</a></li>
               <li><a href="https://hutcch.neocities.org/">my other website</a></li>
           </ul>
    </div>
    <div class="card">
      <h3>Contact</h3>
      <p>If you have any questions or feedback, feel free to contact us at <a href="8hqz5hgfb@mozmail.com">8hqz5hgfb@mozmail.com</a> also the files are on github <a href="https://github.com/hutcch0/chatroom-website/tree/main">website</a></p>
    </div>
  </div>
</div>

<div class="footer">
  <h2><p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p></h2>
</div>

</body>
</html>
