<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>past updates</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body>

<div class="header">
  <h2>past updates</h2>
</div>

    <div class="card">
      <h2>past updates</h2>
      <h5>v1.02 | Posted on: november  21, 2024</h5>
            <p>Added about the project page.</p>
            <p>Added news page.</p>
            <p>Cleaned the front chatroom up.</p>
            <p>Cleaned the code up.</p>
            <p>Runs faster.</p>
            <p>Fixed bugs.</p>
            <p>Added a database.</p>
            <p>Character limit (1000 Characters).</p>
            <p>Adding a user name feature.</p>
            <p>fixed the news page now the title shows</p>
            <p>now updates in real time after 3 seconds</p>
            <p>Moderation features</p>
            <p>changed the background colour</p>
            <p>updated the about me page</p>
            <p>Word filters</p>
            <p>rules page</p>
    </div>

    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>links</h2>
        <a href="{{ url_for('index_page') }}">Chatroom</a></p>
        <a href="{{ url_for('rules') }}">Rules</a>
    </div>
    <div class="card">
      <h3>Where to find us</h3>
 		<p>we have this chatroom, x(twitter) and my other website
           <ul>
               <li><a href="https://hutcch.eu.pythonanywhere.com/">the chatroom</a></li>
               <li><a href="https://x.com/chatroombyHVN">x(twitter)</a></li>
               <li><a href="https://bsky.app/profile/hutcch.bsky.social">bsky.social</a></li>
               <li><a href="https://hutcch.neocities.org/">my other website</a></li>
           </ul>
    </div>
    <div class="card">
      <h3>Contact</h3>
      <p>If you have any questions or feedback, feel free to contact us at <a href="8hqz5hgfb@mozmail.com">8hqz5hgfb@mozmail.com</a> also the files are on github <a href="https://github.com/hutcch0/chatroom-website/tree/main">website</a></p>
    </div>
  </div>
</div>

<div class="footer">
  <h2><p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p></h2>
</div>

</body>
</html>
