<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <style>
        .content {
            max-height: 800px; /* Adjust the height as needed */
            overflow-y: auto;
            border: 1px solid #ccc; /* Add a border for visual separation */
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 class="page-title">about</h1>

    <div class="content">
        <h2>Introduction</h2>
        <p>
            I built this chatroom because I wanted a fun, independent space to connect with people online and put my coding skills to the test.
        </p>

        <h2>Where to find us</h2>
        <p>
                we have this chatroom, x(twitter) and my other website
            </p>
            <ul>
                <li><a href="https://hutcch.eu.pythonanywhere.com/">the chatroom</a></li>
                <li><a href="https://x.com/chatroombyHVN">x(twitter)</a></li>
                <li><a href="https://hutcch.neocities.org/">my other website</a></li>
            </ul>

        <h2>Goals</h2>
         <p>
                The main goals of this project are:
            </p>
            <ul>
                <li>to keep updates going</li>
                <li>to keep stuff clean</li>
                <li>Build a responsive interface.</li>
            </ul>


        <h2>Contact</h2>
        <p>If you have any questions or feedback, feel free to contact us at <a href="8hqz5hgfb@mozmail.com">8hqz5hgfb@mozmail.com</a> also the files are on github <a href="https://github.com/hutcch0/chatroom-website/tree/main">website</a>.</p>

    </div>

    <footer>
        <p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p>
    </footer>

</body>
</html>
