<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <style>
        .content {
            max-height: 800px; /* Adjust the height as needed */
            overflow-y: auto;
            border: 1px solid #ccc; /* Add a border for visual separation */
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1 class="page-title">News</h1>

    <div class="content">
        <h2>Latest News</h2>
        <p>now we have pictures you can use(use image_finder to see all of them and how to use them)</p>

        <h2>Planned Updates</h2>
        <p>Adding a bot.</p>
        <p>Adding button for changing colour.</p>
        <p>Adding a button for suggestions.</p>
        <p>a custom user name feature.</p>
        <p>connecting a discord server to the chatroom.</p>
        <p>Emojis and Reactions</p>
        <p>Special Effects</p>
        <p>have a user profile</p>
        <p>have a forum</p>
        <p>Chatroom Achievements</p>
        <p>Hidden Easter Eggs</p>
        <p>Debate Nights/Talent Shows</p>
        <p>Time Capsule</p>
        <p>Whisper Mode</p>
        <p>Chatroom Mascot</p>
        <p>Morse Code Mode</p>
        <p>Emoji-Only Communication</p>
        <p>Live Polls and Surveys</p>
        <p>Time-Limited Chatrooms</p>

        <h2>bugs fixed</h2>
        <p>Fix code: Information exposure through an exception</p>
        <p>Fix code: Flask app is run in debug mode</p>
        <p>fix: Werkzeug debugger vulnerable to remote execution when interacting with attacker controlled domain</p>

        <h2>past updates</h2>
        <h2>v1.02</h2>
                <p>Added about the project page.</p>
        <p>Added news page.</p>
        <p>Cleaned the front chatroom up.</p>
        <p>Cleaned the code up.</p>
        <p>Runs faster.</p>
        <p>Fixed bugs.</p>
        <p>Added a database.</p>
        <p>Character limit (1000 Characters).</p>
        <p>Adding a user name feature.</p>
        <p>fixed the news page now the title shows</p>
        <p>now updates in real time after 3 seconds</p>
        <p>Moderation features</p>
        <p>changed the background colour</p>
        <p>updated the about me page</p>
        <p>Word filters</p>
        <p>rules page</p>
    </div>

    <footer>
        <p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p>
    </footer>

</body>
</html>
