<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Planned Updates</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body>

<div class="header">
  <h2>Planned Updates</h2>
</div>

    <div class="card">
      <h2>Planned Updates</h2>
      <h5>Posted on: november 21, 2024</h5>
            <p>Emojis and Reactions</p>
            <p>Special Effects</p>
            <p>have a forum</p>
            <p>Hidden Easter Eggs</p>
            <p>Debate Nights/Talent Shows</p>
            <p>Time Capsule</p>
            <p>Whisper Mode</p>
            <p>Chatroom Mascot</p>
            <p>Morse Code Mode</p>
            <p>Emoji-Only Communication</p>
            <p>Live Polls and Surveys</p>
            <p>Time-Limited Chatrooms</p>
            <p>adding dms</p>
            <p>adding mentions and tagging</p>
            <p>music Integration</p>
            <p>Anonymous Mode</p>
            <p>User Polls or Votes</p>
            <p>Seasonal Features</p>
            <p>Marketplace to spend fake money in</p>
            <p>Flash Events and Surprise Features</p>
            <p>Group Challenges</p>
            <p>Community Challenges with Rewards</p>
            <p>Hot Seat events</p>

    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>links</h2>
        <a href="{{ url_for('index_page') }}">Chatroom</a></p>
        <a href="{{ url_for('rules') }}">Rules</a>
    </div>
    <div class="card">
      <h3>Where to find us</h3>
 		<p>we have this chatroom, x(twitter) and my other website
           <ul>
               <li><a href="https://hutcch.eu.pythonanywhere.com/">the chatroom</a></li>
               <li><a href="https://x.com/chatroombyHVN">x(twitter)</a></li>
               <li><a href="https://hutcch.neocities.org/">my other website</a></li>
           </ul>
    </div>
    <div class="card">
      <h3>Contact</h3>
      <p>If you have any questions or feedback, feel free to contact us at <a href="8hqz5hgfb@mozmail.com">8hqz5hgfb@mozmail.com</a> also the files are on github <a href="https://github.com/hutcch0/chatroom-website/tree/main">website</a></p>
    </div>
  </div>
</div>

<div class="footer">
  <h2><p>&copy; 2024 Chatroom Project by hutcch's Virtual Network | <a href="{{ url_for('index_page') }}">Go to Chatroom</a></p></h2>
</div>

</body>
</html>
